.dialog-widget {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999; }

.dialog-widget-content {
  background-color: #fff;
  position: absolute;
  border-radius: 3px;
  box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden; }

.dialog-widget-header, .dialog-message {
  text-align: center; }

.dialog-message {
  font-size: 12px;
  line-height: 1.4; }

.dialog-buttons-wrapper {
  border-top: 1px solid #e6e9ec;
  text-align: center; }
  .dialog-buttons-wrapper > button {
    border: none;
    background: none;
    font-size: 15px;
    cursor: pointer;
    padding: 13px 0;
    outline: 0; }
    .dialog-buttons-wrapper > button:first-child {
      color: #5f6e79; }
    .dialog-buttons-wrapper > button.dialog-ok {
      color: #b01b1b; }
    .dialog-buttons-wrapper > button.dialog-take_over {
      color: #39b54a; }
    .dialog-buttons-wrapper > button:active {
      background-color: rgba(230, 233, 236, 0.5); }
    .dialog-buttons-wrapper > button::-moz-focus-inner {
      border: 0; }

.dialog-widget-header {
  padding: 20px 0;
  font-weight: 500; }

.dialog-options-widget .dialog-widget-header,
.dialog-confirm-widget .dialog-widget-header {
  font-size: 15px;
  color: #2f3b44; }

.dialog-options-widget .dialog-buttons-wrapper > button,
.dialog-confirm-widget .dialog-buttons-wrapper > button {
  width: 50%; }
  .dialog-options-widget .dialog-buttons-wrapper > button:first-child,
  .dialog-confirm-widget .dialog-buttons-wrapper > button:first-child {
    border-left: 1px solid #e6e9ec; }
  .dialog-options-widget .dialog-buttons-wrapper > button:hover,
  .dialog-confirm-widget .dialog-buttons-wrapper > button:hover {
    background-color: #f4f6f7; }

.dialog-options-widget, .dialog-confirm-widget, .dialog-alert-widget {
  -webkit-user-select: none;
  -moz-user-select: none; }
  .dialog-options-widget .dialog-widget-content, .dialog-confirm-widget .dialog-widget-content, .dialog-alert-widget .dialog-widget-content {
    margin: auto;
    width: 375px; }
  .dialog-options-widget .dialog-message, .dialog-confirm-widget .dialog-message, .dialog-alert-widget .dialog-message {
    padding: 0 20px;
    min-height: 50px; }

.dialog-alert-widget .dialog-buttons-wrapper > button {
  width: 100%; }

.dialog-popup-message {
  height: 155px;
  width: 155px;
  background-color: #fff;
  border-radius: 10px; }

.kitbuilder-dialog-message {
  padding: 15px; }
  .kitbuilder-dialog-message .fa {
    font-size: 85px;
    padding: 10px; }

.kitbuilder-dialog-message-text {
  text-transform: uppercase; }

.dialog-lightbox-close-button {
  cursor: pointer;
  position: absolute;
  top: 16px;
  left: 20px;
  font-size: 16px;
  color: #ffffff;
  opacity: .65; }
  .dialog-lightbox-close-button:hover {
    opacity: 1; }

.kitbuilder-video-wrapper {
  position: relative;
  height: 0; }
  .kitbuilder-video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

body.kitbuilder-editor-active .kitbuilder-switch-mode-off {
  display: none; }

body.kitbuilder-editor-active #kitbuilder-switch-mode-button {
  background-color: #f7f7f7;
  color: #555;
  border-color: #ccc;
  box-shadow: 0 1px 0 #ccc !important;
  text-shadow: unset; }
  body.kitbuilder-editor-active #kitbuilder-switch-mode-button:hover {
    background-color: #e9e9e9; }
  body.kitbuilder-editor-active #kitbuilder-switch-mode-button:active {
    box-shadow: inset 0 1px 0 #ccc;
    -webkit-transform: translateY(1px);
            transform: translateY(1px); }

body.kitbuilder-editor-active #kitbuilder-editor {
  display: table; }

body.kitbuilder-editor-active #postdivrich {
  display: none !important; }

body.kitbuilder-editor-inactive .kitbuilder-switch-mode-on {
  display: none; }

body.kitbuilder-editor-inactive #kitbuilder-editor {
  display: none; }

.kitbuilder-hidden {
  display: none; }

#adminmenu #toplevel_page_kitbuilder div.wp-menu-image:before {
  content: "\e901";
  font-family: KitBuilder;
  font-size: 20px; }

#adminmenu #toplevel_page_kitbuilder .dashicons.dashicons-star-filled {
  height: auto; }

.kitbuilder-plugins-gopro {
  color: #39b54a;
  font-weight: bold; }

#kitbuilder-switch-mode {
  margin: 15px 0; }

.kitbuilder-button {
  padding: 12.5px 25px;
  display: inline-block;
  line-height: 1;
  border: 1px solid;
  border-radius: 3px;
  outline: none;
  cursor: pointer; }
  .kitbuilder-button .kb-icon-kitbuilder {
    margin-left: 5px; }

#kitbuilder-editor {
  background-color: #F7F7F7;
  border: 1px solid #DDD;
  height: 300px;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  #kitbuilder-editor:hover {
    background-color: #ffffff; }
  #kitbuilder-editor .kitbuilder-loader-box {
    position: absolute;
    -webkit-animation: load 1.8s linear infinite;
            animation: load 1.8s linear infinite; }
    #kitbuilder-editor .kitbuilder-loader-box:nth-of-type(1) {
      width: 20%;
      height: 100%;
      left: 0;
      top: 0; }
    #kitbuilder-editor .kitbuilder-loader-box:not(:nth-of-type(1)) {
      right: 0;
      height: 20%;
      width: 60%; }
    #kitbuilder-editor .kitbuilder-loader-box:nth-of-type(2) {
      top: 0;
      -webkit-animation-delay: -0.45s;
              animation-delay: -0.45s; }
    #kitbuilder-editor .kitbuilder-loader-box:nth-of-type(3) {
      top: 40%;
      -webkit-animation-delay: -0.9s;
              animation-delay: -0.9s; }
    #kitbuilder-editor .kitbuilder-loader-box:nth-of-type(4) {
      bottom: 0;
      -webkit-animation-delay: -1.35s;
              animation-delay: -1.35s; }

@-webkit-keyframes load {
  0% {
    opacity: .3; }
  50% {
    opacity: 1; }
  100% {
    opacity: .3; } }

@keyframes load {
  0% {
    opacity: .3; }
  50% {
    opacity: 1; }
  100% {
    opacity: .3; } }
  #kitbuilder-editor .kitbuilder-loader-box {
    background-color: #a4afb7; }

#kitbuilder-go-to-edit-page-link {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none; }
  #kitbuilder-go-to-edit-page-link.kitbuilder-animate #kitbuilder-editor-button {
    display: none; }
  #kitbuilder-go-to-edit-page-link:not(.kitbuilder-animate) .kitbuilder-loader-wrapper {
    display: none; }

.kitbuilder-loader-wrapper {
  margin: auto;
  width: 80px; }

.kitbuilder-loader {
  height: 80px;
  position: relative;
  font-size: 50px;
  line-height: 80px;
  text-align: center;
  color: #c2cbd2; }

.kitbuilder-loading-title {
  color: #a4afb7;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 11px;
  letter-spacing: 5px; }

.kitbuilder-button-spinner:before {
  font: normal 20px/.5 dashicons;
  speak: none;
  display: inline-block;
  padding: 0;
  top: 8px;
  right: -4px;
  position: relative;
  vertical-align: top;
  content: "\f463"; }

.kitbuilder-button-spinner.loading:before {
  -webkit-animation: rotation 1s infinite linear;
  animation: rotation 1s infinite linear; }

.kitbuilder-button-spinner.success:before {
  content: "\f147";
  color: #46b450; }

.kitbuilder-button.button-hero i {
  font-size: 20px;
  line-height: inherit;
  vertical-align: middle;
  margin-right: 5px; }

#available-widgets [class*="kitbuilder-template"] .widget-title:before {
  content: "\e900";
  font-family: KitBuilder;
  font-size: 17px; }

/*= Kitbuilder Message
---------------------------------------*/
.notice.kitbuilder-message {
  border-right-color: #0055ef !important;
  padding: 20px; }
  .notice.kitbuilder-message .kitbuilder-message-inner {
    display: table;
    width: 100%; }
    .notice.kitbuilder-message .kitbuilder-message-inner .kitbuilder-message-icon,
    .notice.kitbuilder-message .kitbuilder-message-inner .kitbuilder-message-content,
    .notice.kitbuilder-message .kitbuilder-message-inner .kitbuilder-update-now {
      display: table-cell;
      vertical-align: middle; }
  .notice.kitbuilder-message .kitbuilder-message-icon {
    color: #0055ef;
    font-size: 50px;
    width: 50px; }
  .notice.kitbuilder-message .kitbuilder-message-content {
    padding: 0 20px; }
  .notice.kitbuilder-message p {
    padding: 0;
    margin: 0; }
  .notice.kitbuilder-message h3 {
    margin: 0 0 5px; }
  .notice.kitbuilder-message .kitbuilder-update-now {
    text-align: center; }
    .notice.kitbuilder-message .kitbuilder-update-now .kitbuilder-button {
      background-color: #0055ef;
      color: #fff;
      border-color: #7c1337;
      box-shadow: 0 1px 0 #7c1337;
      padding: 5px 30px;
      height: auto;
      line-height: 20px;
      text-transform: capitalize; }
      .notice.kitbuilder-message .kitbuilder-update-now .kitbuilder-button i {
        padding-left: 5px; }
      .notice.kitbuilder-message .kitbuilder-update-now .kitbuilder-button:hover {
        background-color: #a0124a; }
      .notice.kitbuilder-message .kitbuilder-update-now .kitbuilder-button:active {
        box-shadow: inset 0 1px 0 #7c1337;
        -webkit-transform: translateY(1px);
                transform: translateY(1px); }

@media (max-width: 767px) {
  .notice.kitbuilder-message {
    padding: 10px; }
    .notice.kitbuilder-message .kitbuilder-message-inner {
      display: block; }
      .notice.kitbuilder-message .kitbuilder-message-inner .kitbuilder-message-content {
        display: block;
        padding: 0; }
      .notice.kitbuilder-message .kitbuilder-message-inner .kitbuilder-message-icon,
      .notice.kitbuilder-message .kitbuilder-message-inner .kitbuilder-update-now {
        display: none; } }

#kitbuilder-hidden-area {
  display: none; }

#kitbuilder-import-template-trigger {
  cursor: pointer; }

#kitbuilder-import-template-area {
  display: none;
  margin: 50px 0 30px;
  text-align: center; }

#kitbuilder-import-template-form {
  display: inline-block;
  margin-top: 30px;
  padding: 30px 50px;
  background-color: #FFFFFF;
  border: 1px solid #e5e5e5; }

#kitbuilder-import-template-title {
  font-size: 18px;
  color: #555d66; }

.form-table:not(.kitbuilder-maintenance-mode-is-enabled) .kitbuilder-default-hide {
  display: none; }

.kitbuilder-maintenance-mode-error {
  color: red; }
/*# sourceMappingURL=admin-rtl.css.map */