@charset "UTF-8";
body.kitbuilder-editor-active .article {
  overflow: visible; }

body.kitbuilder-editor-active .kitbuilder-element-overlay .kitbuilder-editor-element-settings-list {
  clear: unset; }

#kitbuilder .animated {
  -webkit-animation-fill-mode: none !important;
          animation-fill-mode: none !important; }

#kitbuilder .kitbuilder-editor-element-settings-list {
  word-break: normal; }

#kitbuilder .gallery {
  opacity: 1; }

html.kitbuilder-html {
  margin-top: 0 !important; }

#kitbuilder {
  position: relative; }

.kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-element-empty .kitbuilder-sortable-placeholder {
  display: none; }

.kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-empty-view {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; }

.kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-first-add {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border: 1px dashed #d5dadf; }
  .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-first-add .kitbuilder-icon {
    font-size: 19px;
    color: #a4afb7;
    cursor: pointer; }

.kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-element > .kitbuilder-element-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  letter-spacing: 0;
  z-index: 9998;
  pointer-events: none; }

.kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-element.kitbuilder-widget-empty {
  height: 50px;
  background: #ffffff; }
  .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-element.kitbuilder-widget-empty:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(230, 233, 236, 0.8); }
  .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-element.kitbuilder-widget-empty .kitbuilder-widget-empty-icon {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    color: #818a91;
    font-size: 22px; }

.kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-element:not(:hover):not(.kitbuilder-element-editable) > .kitbuilder-element-overlay .kitbuilder-editor-element-settings-list {
  display: none; }

.kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-element:not(:hover):not(.ui-resizable-resizing) > .kitbuilder-element-overlay .column-title {
  display: none; }

@media (max-width: 1024px) {
  .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-element > .kitbuilder-element-overlay .column-title {
    display: none; } }

.kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-element[data-side] {
  -webkit-animation: increase-border .6s;
          animation: increase-border .6s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; }

.kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-element[data-side="top"], .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-element[data-side="bottom"] + .kitbuilder-element {
  border-top: 4px solid #71d7f7; }

.kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-element[data-side="bottom"]:last-child {
  border-bottom: 4px solid #71d7f7; }

@media (min-width: 768px) {
  .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-section:not(.kitbuilder-section-height-full) .kitbuilder-column-wrap.kitbuilder-element-empty, .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-section:not(.kitbuilder-section-height-full) .kitbuilder-column-wrap.kitbuilder-element-empty .kitbuilder-widget-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; } }

.kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-top-column .kitbuilder-widget-wrap .kitbuilder-inner-section {
  margin-top: 20px; }

.kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-element-settings {
  position: absolute;
  overflow: hidden; }
  .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-element-settings .kitbuilder-editor-element-settings-list {
    display: table;
    table-layout: fixed;
    height: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    line-height: 1; }
    .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-element-settings .kitbuilder-editor-element-settings-list.kitbuilder-editor-section-settings-list {
      background-color: #a4afb7; }
      @media (min-width: 1025px) {
        .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-element-settings .kitbuilder-editor-element-settings-list.kitbuilder-editor-section-settings-list .kitbuilder-editor-element-setting:not(:last-child) {
          border-right: 1px solid #c2cbd2; } }
      .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-element-settings .kitbuilder-editor-element-settings-list.kitbuilder-editor-section-settings-list .kitbuilder-editor-element-setting.kitbuilder-editor-element-trigger:not(.kitbuilder-active) {
        border: none; }
      .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-element-settings .kitbuilder-editor-element-settings-list.kitbuilder-editor-section-settings-list .kitbuilder-editor-element-setting > a:hover {
        background-color: #c2cbd2; }
    .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-element-settings .kitbuilder-editor-element-settings-list .fa {
      color: #ffffff; }
  .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-element-settings .kitbuilder-editor-element-setting {
    display: table-cell;
    vertical-align: middle;
    width: 33px;
    text-align: center;
    padding: 0;
    margin: 0; }
    .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-element-settings .kitbuilder-editor-element-setting > a {
      padding: 8.5px 0;
      display: inline-block;
      width: 100%;
      font-size: 11px;
      line-height: 1;
      color: #fff; }
  .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-element-settings .kitbuilder-editor-element-remove .fa {
    color: #f00; }

.kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-column-settings {
  left: -1px;
  z-index: 1;
  bottom: 100%;
  margin-bottom: 1px;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  border-radius: 3px 3px 0 0;
  pointer-events: all; }
  .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-column-settings .kitbuilder-editor-element-settings-list {
    float: left;
    background-color: #2f3b44; }
    @media (min-width: 1025px) {
      .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-column-settings .kitbuilder-editor-element-settings-list .kitbuilder-editor-element-setting:not(:last-child) {
        border-right: 1px solid #495761; } }
    .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-column-settings .kitbuilder-editor-element-settings-list .kitbuilder-editor-element-setting > a:hover {
      background-color: #495761; }
  .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-column-settings .kitbuilder-editor-element-trigger:not(.kitbuilder-active) ~ .kitbuilder-editor-element-setting {
    display: none; }
  .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-column-settings .kitbuilder-editor-element-trigger > a {
    padding: 8.5px; }
  @media (min-width: 1025px) {
    .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-column-settings .kitbuilder-editor-element-trigger > a {
      cursor: move; }
      .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-column-settings .kitbuilder-editor-element-trigger > a:hover:after {
        content: "";
        font-family: 'FontAwesome';
        margin-left: 5px; }
    .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-column-settings .kitbuilder-editor-element-trigger.kitbuilder-active > a:after {
      content: "";
      font-family: 'FontAwesome';
      margin-left: 5px; } }

.kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-widget-settings {
  z-index: 2;
  top: 0;
  right: 0; }
  .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-widget-settings .kitbuilder-editor-element-setting {
    width: 24px; }
    .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-widget-settings .kitbuilder-editor-element-setting:not(:last-child) {
      border-right: 1px solid #0043bc; }
    .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-widget-settings .kitbuilder-editor-element-setting > a {
      background-color: #0055ef;
      font-size: 10px;
      padding: 6px 8px; }
      .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-widget-settings .kitbuilder-editor-element-setting > a:hover {
        background-color: #0043bc; }
  .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-widget-settings .kitbuilder-editor-element-remove .fa {
    color: #ffffff; }
  .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-widget-settings .kitbuilder-editor-element-remove:hover .fa {
    color: #f00; }
  .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-widget-settings .kitbuilder-editor-element-edit a {
    cursor: move; }

@media (max-width: 1024px) {
  .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-editor-element-setting:not(.kitbuilder-editor-element-edit):not(.kitbuilder-editor-element-trigger) {
    display: none; } }

.kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-section-filled .kitbuilder-editor-column-settings .kitbuilder-editor-element-add, .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-section-filled .kitbuilder-editor-column-settings .kitbuilder-editor-element-duplicate {
  display: none; }

.kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-section-filled .kitbuilder-sortable-placeholder.kitbuilder-column {
  display: none; }

.kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-section-filled .kitbuilder-row.kitbuilder-draggable-over {
  border: 1px solid #f00; }

.kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-row {
  min-height: 100px; }

.kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-column:hover > .kitbuilder-element-overlay, .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-column.kitbuilder-element-editable > .kitbuilder-element-overlay {
  border: 1px solid #ffffff; }
  .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-column:hover > .kitbuilder-element-overlay:after, .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-column.kitbuilder-element-editable > .kitbuilder-element-overlay:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    outline: 1px dashed #373a3c; }

.kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-column.kitbuilder-dragging-on-child > .kitbuilder-element-overlay {
  border: 1px solid #71d7f7; }
  .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-column.kitbuilder-dragging-on-child > .kitbuilder-element-overlay:after {
    display: none; }

.kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-column .column-title {
  position: absolute;
  bottom: 100%;
  right: 0;
  margin-bottom: 5px;
  color: #999;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1;
  font-size: 12px;
  font-style: italic; }

.kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-column > .ui-resizable-e, .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-column > .ui-resizable-w {
  cursor: ew-resize;
  width: 7px;
  position: absolute;
  right: -5px;
  top: 0;
  height: 100%; }

.kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-column:last-of-type > .ui-resizable-e, .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-column:last-of-type > .ui-resizable-w {
  display: none !important; }

@media (max-width: 1024px) {
  .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-column > .ui-resizable-e, .kitbuilder-editor-active .kitbuilder.kitbuilder-edit-mode .kitbuilder-column > .ui-resizable-w {
    display: none !important; } }

.kitbuilder-editor-active .kitbuilder-inner {
  margin-top: 27px; }

@media (min-width: 768px) {
  .kitbuilder-editor-active .kitbuilder-column-wrap.kitbuilder-element-empty .kitbuilder-widget-wrap {
    padding: 10px; } }

.kitbuilder-editor-active .kitbuilder-widget.kitbuilder-loading {
  opacity: .3; }

.kitbuilder-editor-active .kitbuilder-widget:not(.kitbuilder-loading):not(.kitbuilder-widget-menu-anchor) {
  -webkit-transition: all .1s;
  transition: all .1s; }

.kitbuilder-editor-active .kitbuilder-widget.kitbuilder-element-editable, .kitbuilder-editor-active .kitbuilder-widget.kitbuilder-widget-can-edit:hover {
  outline: 2px solid #0055ef; }

.kitbuilder-editor-active .kitbuilder-widget:not(.kitbuilder-element-editable):not(:hover) .kitbuilder-editor-element-settings {
  display: none; }

.kitbuilder-editor-active .kitbuilder-column.kitbuilder-dragging div.kitbuilder-column-wrap {
  min-height: 50px; }

.kitbuilder-editor-active .handle {
  display: none; }

.kitbuilder-editor-active .kitbuilder-sortable-placeholder {
  background: #71d7f7;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out; }
  .kitbuilder-editor-active .kitbuilder-sortable-placeholder:not(.kitbuilder-column) {
    height: 5px; }
  .kitbuilder-editor-active .kitbuilder-sortable-placeholder.kitbuilder-column {
    width: 5px; }

.kitbuilder-editor-active .kitbuilder-sortable-helper {
  position: absolute;
  border-radius: 3px;
  background-color: #fff;
  text-align: center;
  color: #495761;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); }
  .kitbuilder-editor-active .kitbuilder-sortable-helper .icon {
    font-size: 28px;
    padding-top: 15px;
    line-height: 1; }
  .kitbuilder-editor-active .kitbuilder-sortable-helper .kitbuilder-element-title-wrapper {
    display: table;
    width: 100%; }
  .kitbuilder-editor-active .kitbuilder-sortable-helper .title {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    display: table-cell;
    vertical-align: middle;
    height: 40px; }

.kitbuilder-editor-active .kitbuilder-draggable-over:not([data-dragged-element="section"]):not([data-dragged-is-inner="true"]) > .kitbuilder-empty-view > .kitbuilder-first-add:after,
.kitbuilder-editor-active .kitbuilder-first-add[data-side]:after {
  content: '';
  height: 4px;
  display: block;
  background-color: #71d7f7; }

.kitbuilder-editor-active .kitbuilder-draggable-over:not([data-dragged-element="section"]):not([data-dragged-is-inner="true"]) > .kitbuilder-empty-view > .kitbuilder-first-add .kitbuilder-icon,
.kitbuilder-editor-active .kitbuilder-first-add[data-side] .kitbuilder-icon {
  display: none; }

.kitbuilder-editor-active .kitbuilder-draggable-over[data-dragged-element="section"][data-dragged-is-inner="true"] .kitbuilder-inner-column .kitbuilder-sortable-placeholder {
  display: none; }

.kitbuilder-editor-active #kitbuilder-add-section {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 60px auto;
  max-width: 1140px;
  position: relative; }
  .kitbuilder-editor-active #kitbuilder-add-section:not([data-side]) {
    border: 2px dashed #d5dadf; }
  .kitbuilder-editor-active #kitbuilder-add-section[data-side] {
    border: 3px dashed #71d7f7; }
  @media (max-width: 479px) {
    .kitbuilder-editor-active #kitbuilder-add-section {
      display: none; } }

.kitbuilder-editor-active #kitbuilder-add-section-inner {
  text-align: center;
  padding: 20px 0; }

.kitbuilder-editor-active #kitbuilder-add-new-section {
  display: inline-block; }
  .kitbuilder-editor-active #kitbuilder-add-new-section .kitbuilder-button {
    color: #fff;
    background-image: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    text-transform: uppercase;
    height: 40px;
    width: 170px;
    padding: 0;
    border: none;
    border-radius: 3px;
    cursor: pointer; }
    .kitbuilder-editor-active #kitbuilder-add-new-section .kitbuilder-button:hover {
      opacity: 0.85;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2); }
    .kitbuilder-editor-active #kitbuilder-add-new-section .kitbuilder-button:active {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.1); }

.kitbuilder-editor-active #kitbuilder-add-section-button {
  background-color: #0055ef; }

.kitbuilder-editor-active #kitbuilder-add-template-button {
  background-color: #5f6e79;
  margin-left: 25px; }

.kitbuilder-editor-active #kitbuilder-add-section-drag-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  line-height: 1;
  color: #495761;
  margin-top: 15px; }

.kitbuilder-editor-active #kitbuilder-select-preset-close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  line-height: 1;
  color: #d5dadf; }

.kitbuilder-editor-active #kitbuilder-select-preset-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  color: #495761; }

.kitbuilder-editor-active #kitbuilder-select-preset-list {
  list-style: none;
  padding: 0 25px;
  margin: 20px auto 0;
  overflow: hidden;
  max-width: 700px; }
  .kitbuilder-editor-active #kitbuilder-select-preset-list .kitbuilder-preset {
    cursor: pointer;
    margin: 0;
    padding: 10px;
    float: left; }
    .kitbuilder-editor-active #kitbuilder-select-preset-list .kitbuilder-preset:hover path {
      fill: #5f6e79; }
    .kitbuilder-editor-active #kitbuilder-select-preset-list .kitbuilder-preset:not(:hover) path {
      fill: #d5dadf; }
    .kitbuilder-editor-active #kitbuilder-select-preset-list .kitbuilder-preset svg {
      height: 50px; }

.kitbuilder-editor-preview .kitbuilder-element-overlay,
.kitbuilder-editor-preview .kitbuilder-editor-widget-settings,
.kitbuilder-editor-preview .column-title,
.kitbuilder-editor-preview .kitbuilder-empty,
.kitbuilder-editor-preview #kitbuilder-add-section,
.kitbuilder-editor-preview .kitbuilder-element-empty,
.kitbuilder-editor-preview .kitbuilder-widget-empty {
  display: none; }
/*# sourceMappingURL=editor-preview.css.map */